#header {
  padding: 20px;
  text-align: center;
  display:flex;
  background: #f10202;
  color: white;
  vertical-align: middle;
  font-size: 10px;
  border-radius: transparent;
}
#header-button {
  
  background-color: transparent;
  border-color: transparent;
}


#fcontainer {
  position: center;
  /* right: 0px; */
  width: 200px;
  border: 3px solid white;
  background-color: white;
  /* padding: 10px; */
  text-align: left;
  
}


#footer {
  background-color: grey;
  /* padding-top: 20px; */
  text-align: center;
  align-content: center;  
  display:flex;
  font-size: 10px;
  flex-direction: column;
  position: absolute; 
  bottom: 0px;
  width: fit-content;
  flex-grow: 1;
}

#footer-button{
  color:black;
  background-color: transparent;
  border-color: transparent;
  display: absolute;
}

#footerList{
display: flex;
padding-top: 20px;
}

#container{
  display: flex;
  vertical-align: middle;
  padding-bottom: 20px;
  /* padding-top: -20px; */
}