#header {
  padding: 20px;
  text-align: center;
  
  background: #f10202;
  color: white;
  
}
#header-button {
  
  background-color: transparent;
  border-color: transparent;
}


#fcontainer {
  position: center;
  /* right: 0px; */
  width: 300px;
  border: 3px solid white;
  background-color: white;
  /* padding: 10px; */
  text-align: left;
}


#footer {
  background-color: grey;
  padding: 20px;
  text-align: center;
  align-content: center;  
}

#footer-button{
  color:black;
  background-color: transparent;
  border-color: transparent;
  
}

#footer-list{

}
